.nav-center
{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    background-color: white;
}
.nav-links > li
{
    display:inline;
    text-transform: uppercase;
    color: black;

}
.nav-links > li :hover
{
    display:inline;
    text-transform: uppercase;
    color: blue;

}

.nav-links > li >a{
    text-decoration: none;
    
}
main
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
.conatiner
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(43, 37, 37);
    color: wheat;
    padding:10px;
}
h1
{
    position: relative;
    top:-170px;
    left: 45%;

}
body{
    background-color: aqua;
    margin:0;
}